{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{{ SITENAME }}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% static 'shotwell/style.css' %}">
</head>
<body>
{% block content %}
{% endblock %}
</html>
