{% extends "shotwell/base.html" %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="gallery">
  {% for photo in photos %}
  <div class="item">
    {% if photo.thumbnail %}
    <img src="{{ MEDIA_URL }}{{ photo.thumbnail }}">
    <div class="desc">{% firstof photo.name  "untitled" %} - {{ photo.rating }} - {{ photo.tags|join:", " }}</div>
    {% endif %}
  </div>
  {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if photos.has_previous %}
            <a href="?page={{ photos.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ photos.number }} of {{ photos.paginator.num_pages }}.
        </span>

        {% if photos.has_next %}
            <a href="?page={{ photos.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">×</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>
<script src="{% static 'shotwell/modal.js' %}"></script>
</body>
{% endblock %}
